@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.small {
  font-size: 0.75rem;
}

.dymium-tab:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #5a6268;
  text-decoration: none;

  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  border-radius: 4px 4px 0 0;
}

.new-logs:hover {
  color: #007bff;
}
